.Banner {
  margin-top: 10vh;
  height: 80vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 300px;
  /* height: 190px; */
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}
.banner_buttons {
  display: flex;
  gap: 20px;
}

.banner_button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.banner_button.play {
  background-color: #52838D;
  color: #ffffff;
}

.banner_button.play:hover {
  background-color: #ea1111;
}

.banner_button {
  background-color: #02333D;
color: #ffffff;  
}

.banner_button:hover {
  background-color: #ea1111;
}

.banner_fadebottom {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
